
<div class=" container-fluid">
    <div class="card-body">
        <div class="col-md-0">
            <div class="card shadow-lg rounded-4">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Thêm Thể Loại</h4>
                </div>

                <div class="card-body border-0">
                    <form action="/admin/category/create" method="POST" enctype="application/x-www-form-urlencoded">

                        <!-- Name -->
                        <div class="mb-3">
                            <label for="name" class="form-label">Tên thể loại</label>
                            <input name="name" type="text" class="form-control" id="name" required placeholder="Nhập tên thể loại...">
                        </div>

                        <!-- Buttons -->
                        <button type="submit" class="btn btn-primary">Thêm Thể Loại</button>

                    </form>
                </div>

            </div>

        </div>
    </div>
</div>

</body>
</html>
