<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="VieOff Template">
    <meta name="keywords" content="VieOff, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    
    <!-- CSS và JavaScript để fix footer -->
    <style>
        body {
            min-height: 100vh;
        }
        
        .page-wrapper {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
        
        main {
            flex: 1;
        }
        
        .footer {
            margin-top: auto;
        }
    </style>
    
    <script>
        // JavaScript để đảm bảo footer luôn ở cuối
        document.addEventListener('DOMContentLoaded', function() {
            function fixFooter() {
                const body = document.body;
                const html = document.documentElement;
                const pageWrapper = document.querySelector('.page-wrapper');
                
                const documentHeight = Math.max(
                    body.scrollHeight, body.offsetHeight,
                    html.clientHeight, html.scrollHeight, html.offsetHeight
                );
                
                const windowHeight = window.innerHeight;
                
                if (documentHeight < windowHeight) {
                    pageWrapper.style.minHeight = windowHeight + 'px';
                }
            }
            
            fixFooter();
            window.addEventListener('resize', fixFooter);
            window.addEventListener('load', fixFooter);
        });
    </script>
</head>

<body>
<!-- Preloader -->
<div id="preloder">
    <div class="loader"></div>
</div>

<div class="page-wrapper">
    {{> home/header}}   <!-- partial header -->
    
    <main>
        {{{body}}}     <!-- nội dung riêng của từng trang (index, customer, ...) -->
    </main>
    
    {{> home/footer}}   <!-- partial footer -->
</div>

</body>
</html>
<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/player.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>