<ol class="breadcrumb mt-4">
    <li class="breadcrumb-item"><a href="/admin">Trang quản trị</a></li>
    <li class="breadcrumb-item active">Bảng điều khiển</li>
</ol>

<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon"><i class="fa fa-fw fa-film"></i></div>
                <div class="mr-5">12 Anime mới!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="/admin/product">
                <span class="float-left">Xem chi tiết</span>
                <span class="float-right"><i class="fa fa-angle-right"></i></span>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon"><i class="fa fa-fw fa-folder-open"></i></div>
                <div class="mr-5">5 thể loại mới!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="/admin/category">
                <span class="float-left">Xem chi tiết</span>
                <span class="float-right"><i class="fa fa-angle-right"></i></span>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon"><i class="fa fa-fw fa-newspaper-o"></i></div>
                <div class="mr-5">8 bài viết mới!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="/admin/blogwrite">
                <span class="float-left">Xem chi tiết</span>
                <span class="float-right"><i class="fa fa-angle-right"></i></span>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon"><i class="fa fa-fw fa-users"></i></div>
                <div class="mr-5">3 người dùng mới!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="/admin/users">
                <span class="float-left">Xem chi tiết</span>
                <span class="float-right"><i class="fa fa-angle-right"></i></span>
            </a>
        </div>
    </div>
</div>
