<header>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="/">
                        <span class="logo-text">
                            <span class="logo-white">Vie</span><span class="logo-blue">Off</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <nav class="header__menu mobile-menu">
                    <ul class="d-flex justify-content-center gap-4">
                        <li class="active"><a href="/">Homepage</a></li>
                        <li><a href="/blog_details">Blog Details</a></li>
                        <li><a href="/movies">Movies</a></li>
                        {{#if user}}
                            <li><a href="/logout" >Logout</a></li>
                        {{else}}
                            <li><a href="/signup" class="border border-1" >Sign Up</a></li>
                            <li><a href="/login" class="border border-1" >Login</a></li>
                        {{/if}}
                    </ul>
                </nav>
                {{#if user}}
                    <div class="user-greeting">
                        Chào mừng, {{user.name}} đã đến với VIEOFF
                    </div>
                {{/if}}
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
